# Diretórios de dados (existentes)
csvs/
csvs_files
*.csv
*.xlsx
*.parquet

# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Prefect
.prefect/

# Outros
.DS_Store